*{
    font-family: 'Lato', sans-serif;
}
.first_div,.second_dev,.third_dev,.fouth_dev{
    padding-top: 60px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
   
 }
.first_sub_first,.second_dev_first,.third_dev_first,.fourth_dev_first{
    width: 50%;
    
}
.first_sub_second,.second_dev_second,.third_dev_second,.fouth_dev_second{
    width: 50%;
}
.logo img{
    width: 320px;
    height: 180px;
    margin-left: 170px; 
    margin-bottom: -35px;
}
.logo h1 ,.second_dev_second h1,p ,.third_dev_first h1,p,.fouth_dev_second h1,p{
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: -15px;
    
}
.logo p{
    text-align: center;
    font-size: x-large;
}
.store {
    padding-top: 30px;
    padding-left:170px; 
}
.store img{
    padding: 8px;
}

.fifth_dev {
    background-color: #e2e7eb;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: -5px;
    
}


.fifth_dev_first{
    display: flex;
    background-color: #e2e7eb;
    justify-content: center;
    padding: 50px 50px 0px 50px;
    margin-bottom: -10px;
    margin-top: -10px;
}

.second_dev .second_dev_first img,.fouth_dev .fourth_dev_first img{
    padding-left: 50px;
}
.second_dev_second,.third_dev_first,.fouth_dev_second{
    padding-bottom: 250px;
}
.second_dev_second p ,.third_dev_first p,.fouth_dev_second p{
    color: grey;
    font-size: 30px;
    
}
.fifth_dev p {
    text-align: center;
    letter-spacing: 0px;
    font-size: 25px;
}
.sixth_dev{
    display: flex;
    background-color: #e2e7eb;
    justify-content: center;
    padding: 10px;

}
.fifth_dev_first img{
    padding-left: 10px;
    padding-right: 10px;
}
.logo{
    padding: 15px;
    margin-top: -40px;
    margin-bottom: 40px ;

}
.position{
    z-index: -1;
}
